@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root:has(.no-doc-scroll) {
	overflow: hidden;
}
body {
	padding: 0;
	margin: 0;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
